<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title_full }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main>
    <header>
      <div class="inner">
        <img src="logo.png" alt="">
        <h1>
          {{ title_short }}
        </h1>
        <p>
          {{ subtitle }}
        </p>
      </div>
    </header>

    <section class="intro">
    {% for para in intro %}
      <p>{{ para }}</p>
    {% endfor %}
    <a
      href="{{ github_suggest.url }}"
      class="btn"
      target="_blank"
    >
      {{ github_suggest.text }}
    </a>
    <a
      href="{{ github_view.url }}"
      class="btn"
      target="_blank"
    >
      {{ github_view.text }}
    </a>
    <a
      href="{{ twitter.url_base }}{{ twitter.message }}&amp;url=http://uxofvr.com/&amp;via=omgmog"
      class="btn"
      target="_blank"
    >
      {{ twitter.button_text }}
    </a>
    </section>

    {% for section in sections %}
      <section id="{{section._}}">
        <h2>{{section.p}}</h2>
        <div class="inner">
          {% for resource in resources %}
            {% if resource.tags contains section.s %}
              <article>
                <div class="inner">
                  <a
                    href="{{resource.url}}"
                    target="_blank"
                    {% if resource.url contains "youtube.com" %} data-lity{% endif %}
                    {% if resource.url contains "medium.com" %} data-medium{% endif %}
                  >
                    <h3>
                      {{resource.title}}
                    </h3>
                  <em>{{resource.url}}</em>
                  {% if resource.author %}
                    <h4>{{resource.author}}</h4>
                  {% endif %}
                  </a>
                  {% assign tags_size = resource.tags.size %}
                  {% if tags_size > 1 %}
                    <ul>
                    {% for tag in resource.tags %}
                      {% if tag != section.s %}
                        <li>{{tag}}</li>
                      {% endif %}
                    {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </article>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endfor %}
    <footer>
      <p>Built with love by <a href="https://omgmog.net">Max Glenister</a> (<a href="https://twitter.com/omgmog">@omgmog</a>) </p>
    </footer>
  </main>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.slim.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.min.css">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77904215-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
